{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Nos Aticles</h1>
            <span class="subheading">Bonne lecture...</span>
          </div>
        </div>
      </div>
    </div>
  </header>

 <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for data in articles %}
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              {{ data.article.title }} n°{{ data.article.id }}
            </h2>
            <h3 class="post-subtitle">
              {{ data.article.title }}
            </h3>
          </a>
          <p class="post-meta">Posté par
            <a href="#">Pascal</a>
            le {{ data.date | date('d/m/Y') }}</p>
        </div>
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{ path('blog_show', {'id': data.article.id}) }}" >Lire l'article &rarr;</a>
        </div>
        <hr>
        {% endfor %}
      </div>`
    </div>
  </div>




  <!--</article>
</section>-->

 <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Man must explore, and this is exploration at its greatest
            </h2>
            <h3 class="post-subtitle">
              Problems look mighty small from 150 miles up
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2019</p>
        </div>
        <hr>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
{% endblock %}
